body{
    background: linear-gradient(90deg, #1C0C5B, #3D2C8D, #916BBF, #C996CC);
    background-size: 600% 600%;
    animation: Gradient 5s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
}

.main-para{
    color: white;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    width: 500;
}